@model TransacaoModel

@{
    ViewData["Title"] = "Cadastro de Transacao Financeira";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Transacao" asp-action="Cadastro" method="post">
    <div class="container">
        <div class="mb-3">
            <label class="form-label">Data</label>
            <input type="date" id="txtData" class="form-control" asp-for="Data">
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Valor</label>
            <input type="number" id="txtValor" class="form-control" asp-for="Valor">
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Item Plano Conta</label>
            @Html.DropDownListFor(m => m.PlanoContaId, Model.PlanoContas, new { @class = "form-select" })
        </div>

        <div class="mb-3">
            <label class="form-label">Historico</label>
            <input type="hidden" id="txtId" class="form-control" asp-for="Id">
            <input type="text" id="txtHistorico" class="form-control" asp-for="Historico">
            <span asp-validation-for="Historico" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
            <button type="button" class="btn btn-secondary btn-lg" onclick="Voltar()">Cancelar</button>
        </div>
</form>

<script>
    function Voltar() {
        window.location.href = "/Transacao/Index";
    }
</script>